.contact-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: wheat;
    color: black;
    padding: 15px 18px;
    border-radius: 10px;
    border: 2px solid rgb(22, 33, 53);
    font-family: Arial, sans-serif;
    z-index: 1000;

}

.contact-widget:hover {
    background-color: purple;
}





