#div1 {
            position: absolute; 
            width: 300px;
            height: 200px;
            background-color: green;
            top: 80px;
            left: 100px;
            z-index: 1;
          
            
        
        }

        #div2 {
            position: absolute;
            width: 300px;
            height: 200px;
            background-color: red;
            top: 120px;
            left: 140px;
            z-index: 2;
            
        }

        #div3 {
            position: absolute;
            width: 300px;
            height: 200px;
            background-color: blue;
            top: 200px;
            left: 250px;
            z-index: 3;
        
        }