body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(241, 238, 240);
}


.product-box {
    width: 250px;
    height: 300px;
    display: inline-block;
    border: 2px solid wheat;
    background-color: rgb(237, 187, 187);
    padding: 15px;
    margin: 20px;
    text-align: center;
    border-radius: 8px;
    vertical-align: top;
    
    
}
.product-box img {
    height: 120px;
    width: auto;
    object-fit: contain;
    margin-bottom: 10px;
}
.product-box:hover {
    outline: 3px solid red;  
    outline-offset: 5px;      
}




