body {
    
    border: 4px solid black;
    height: 800px;
    width:400px;
    margin: 4px;
    margin-top: 100px;
    background-color: rgb(139, 126, 137);
    padding-top: 100px;
   padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
    text-align: center;
}


header {
    background-color: rgb(226, 226, 237);
    color: rgb(18, 2, 2);
    padding: 20px 0;
    margin-bottom: 30px;
}



.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.student-name {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.profile p {
    font-size: 1em;
    margin: 5px 0;
}

.bio {
    font-size: 0.95em;
    margin-top: 15px;
}


footer {
    background-color: rgb(47, 26, 42);
    color: white;
    padding: 15px 0;
}


#div1
{
    border: 4px solid black;
    height: 400px;
    width:400px;
    margin: 4px;
    margin-top: 100px;
    background-color: aqua;
    padding: 100px;
    margin-bottom: 200px;
}

#div2
{
    border: 4px solid black;
    background-color: red;
    height: 400px;
    width:400px;
   
    margin-top: 300px;
    padding-left: 100px;
    padding-right: 100px;
    
}